<md-card>

    <!-- Card title -->
    <md-card-title layout="row" ng-class="{'disabled': !card.enabled}">
        <div layout-gt-xs="row">
            <md-checkbox ng-model="card.enabled" aria-label="Enabled">
            </md-checkbox>
        </div>
        <md-card-title-text my-display-name="card" layout="row">
        </md-card-title-text>
        <md-button ng-disabled="!card.enabled" class="md-icon-button" ng-click="delete($event, card)" aria-label="Delete">
            <md-icon md-svg-icon="/icons/ic_delete_24px.svg"></md-icon>
        </md-button>
    </md-card-title>

    <md-card-content>

        <!-- Main fields -->
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>First Name</label>
                <input ng-disabled="!card.enabled" type="text" ng-model="card.first_name">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
                <label>Last Name</label>
                <input ng-disabled="!card.enabled" type="text" ng-model="card.last_name">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
                <label>Entity Name</label>
                <input ng-disabled="!card.enabled" type="text" ng-model="card.entity_name">
            </md-input-container>
        </div>

        <!-- Notes -->
        <md-input-container class="md-block">
            <label>Notes</label>
            <textarea ng-disabled="!card.enabled" ng-model="card.notes" class="notes"></textarea>
        </md-input-container>


        <!-- Add children buttons -->
        <md-card-actions layout="row" layout-align="start center">
            <md-button ng-disabled="!card.enabled" class="md-mini md-primary" ng-click="newContact(card)">
                <md-icon md-svg-icon="/icons/ic_add_box_24px.svg"></md-icon>
                Contact
            </md-button>
            <md-button ng-disabled="!card.enabled" class="md-mini md-primary" ng-click="newAddress(card)">
                <md-icon md-svg-icon="/icons/ic_add_box_24px.svg"></md-icon>
                Address
            </md-button>
            <md-button ng-disabled="!card.enabled" class="md-mini md-primary" ng-click="newCalendar(card)">
                <md-icon md-svg-icon="/icons/ic_add_box_24px.svg"></md-icon>
                Calendar
            </md-button>
        </md-card-actions>


        <!-- Child cards -->
        <div ng-repeat="contact in card.contacts">
            <ng-include src="'/views/card-contact.html'"></ng-include>
        </div>


        <!-- Card actions -->
        <md-card-actions layout="row" layout-align="end center">
            <md-button type="submit" class="md-primary md-raised" ng-click="save(card)">Save</md-button>
        </md-card-actions>

    </md-card-content>

</md-card>