<md-content flex>

  <!-- Search bar -->
  <div layout="row" flex>
    <md-input-container class="search">
      <label>Search</label>
      <input type="text" ng-model="search" autofocus>
    </md-input-container>
  </div>

  <!-- Button bar -->
  <div layout="row" flex>
    <md-button class="md-mini md-raised" ng-click="newEntity()">New Entity</md-button>
  </div>

  <!-- Search results -->
  <div layout="row" layout-wrap>
    <div ng-repeat="card in cards" flex="100" flex-gt-sm="75" flex-gt-md="60">
      <ng-include src="'/views/card-entity.html'"></ng-include>
    </div>
  </div>

</md-content>