.exception {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    font-family: monospace;
    color: #f55;
    background: #000;
    opacity: .85;
    z-index: 1000;
}

h1 {
    margin: 0;
    font-size: 1.4em;
}

.footer {
    color: #aaa;
    padding-top: 1em;
}

.error {
    color: red;
}

md-input-container.search {
    margin: 0;
}

md-card-title-text {
    font-weight: bold;
}

.notes {
    font-family: monospace;
}

button.md-button md-icon{
    /* Fix icon alignment. */
    margin-top: -2px;
}